<h2>{{ title }}</h2>

<div>
    <label for="cityName">City Name: </label>
    <input id="cityName" type="text" [formControl]="searchCityName" placeholder="Zürich">
</div>
<br>
<div *ngIf="cityImageSource; then showSatelliteImage else showErrorMessage"></div>
<ng-template #showSatelliteImage>
    <img id="satelliteImage" src="{{ cityImageSource }}" alt="Satellite image">
</ng-template>
<ng-template #showErrorMessage>
    <div id="errorMessage">{{ errorMessage }}</div>
</ng-template>
